[Unit]
Description=Pi-hole Sync Service
After=network.target pihole-FTL.service

[Service]
WorkingDirectory=/opt/pihole-sync
Restart=always
User=pihole
Group=pihole
Environment="RUST_LOG=info"
ExecStart=/opt/pihole-sync/pihole-sync -c ./config.yaml sync

[Install]
WantedBy=multi-user.target
